nav {
  height: 4rem;
  width: 100%;
  background-color: var(--ngx-theme-bg-navbar);
  border-top: var(--ngx-theme-border-top-1);
  color: rgb(232, 234, 237);
  display: flex;
  align-items: center;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

ul {
  padding-inline-start: 2.25rem;
  padding-inline-end: 2.25rem;
}

li {
  font-weight: 500;
  cursor: pointer;
}

.selected {
  border-bottom-style: solid;
  border-bottom-width: 2.5px;
  line-height: 16pt;
}

section {
  overflow: scroll;
  height: calc(100vh - 8rem);
  width: 100%;
}
