pre,
code {
  font-size: 0.875rem !important;
  line-height: 1.5715 !important;
}

p {
  transition: all ease-in-out 400ms;
  margin-bottom: 0.5em;
}

h1 {
  margin-top: 1.25rem;
  margin-bottom: 0.5em;
  font-weight: 500;
}

article {
  padding: 1.875rem 3.125rem;
}
