.container {
  padding: 2.25rem;
}

ngx-card {
  width: 12rem;
  height: 12.5rem;
  cursor: pointer;
  display: inline-flex;
  margin: 0.5rem;
}

ngx-card-content {
 display: flex;
 justify-content: center;
 align-items: center;
}

img {
  max-width: 10rem;
}
