<nav class="justify-between">
  <ul class="flex items-center list-none gap-10">
    <li (click)="navigateByUrl('home')">
      <img class="logo" draggable="false" src="assets/images/logo.png" />
    </li>
    <li (click)="navigateByUrl('designs')">Designs</li>
    <li (click)="navigateByUrl('components')">Components</li>
    <li (click)="navigateByUrl('templates')">Templates</li>
  </ul>

  <ul class="flex items-center list-none gap-10">
    <li class="flex items-center cursor-pointer" (click)="setTheme()">
      <img class="theme-img"
        draggable="false"
        [src]="
          theme === 'light'
            ? 'assets/icons/icon-dark-mode.svg'
            : 'assets/icons/icon-light-mode.svg'
        "
        [alt]="theme === 'light' ? 'icon-dark-mode' : 'icon-light-mode'"
      />
    </li>
    <!--
    <li class="cursor-pointer">
      <img
        draggable="false"
        src="assets/icons/icon-translate-w.svg"
        alt="icon-translate"
      />
    </li> -->
    <li>
      <a
        class="flex items-center gap-2"
        href="https://github.com/jbisbal91/ngx-ui"
        target="_blank"
        ><img
          draggable="false"
          src="assets/icons/icon-github-w.svg"
          alt="icon-github"
        />
        GitHub</a
      >
    </li>
  </ul>
</nav>
