nav {
  height: 4rem;
  width: 100%;
  background-color: var(--ngx-theme-bg-navbar);
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.logo {
  height: 2.625rem;
  width: 6.6875rem;
  cursor: pointer;
}

ul {
  padding-inline-start: 2.25rem;
  padding-inline-end: 2.25rem;
}

li {
  font-weight: 500;
  color: rgb(232, 234, 237);
  cursor: pointer;
}

.selected {
  border-bottom-style: solid;
  border-bottom-width: 2.5px;
  line-height: 16pt;
}

a {
  color: unset;
  text-decoration: none;
}

.theme-img {
  filter: invert(100%) sepia(76%) saturate(348%) hue-rotate(209deg)
    brightness(116%) contrast(101%);
}
