nav {
  height: 4rem;
  width: 100%;
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
}

.logo {
  height: 2.625rem;
  width: 6.6875rem;
  cursor: pointer;
}

ul {
  padding-inline-start: 2.25rem;
  padding-inline-end: 2.25rem;
}

li {
  color: rgb(232, 234, 237);
  font-weight: 500;
  cursor: pointer;
}

a {
  color: unset;
  text-decoration: none;
}