.c-nav {
  height: calc(100vh - 8rem);
  width: 15.625rem; 
  background-color: var(--ngx-theme-bg-component-nav);
  color: var(--ngx-theme-color-component-nav);
  border-top: var(--ngx-theme-border-top-1);
  overflow: scroll;  
}

ul {
  padding-inline-start: 0;
  padding-inline-end: 0;
}

li {
  height: 3rem;
  padding-left: 1rem;
}

li:hover {
  background-color: var(--ngx-theme-bg-li-component-nav);
  cursor: pointer;
}

.selected {
  background-color: var(--ngx-theme-selected-li-component-nav);
}
