.selected-tab-content {
    padding: 20px;
  }
  
  .selected-tab-content pre {
    margin-bottom: 0 !important;
  }
  
  .doc-tab {
    transition: all ease-in-out 400ms;
    color: var(--ngx-theme-color-cv-doc-tab);
    display: inline-block;
    text-align: center;
    font-size: 14px;
    padding: 8px 24px;
    user-select: none;
    font-weight: bold;
  }
  
  .visible {
    display: block !important;
  }

  .doc-tab:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-bottom: var(--ngx-theme-cv-doc-tab-border-bottom-3);
  }
  
  .doc-tab-active {
    border-bottom: var(--ngx-theme-cv-doc-tab-border-bottom-3);
  }
  
  .demo-viewer-source {
    display: none;
  }
  
  .demo-viewer-wrapper {
    border: 1px solid #5f6368;
    box-shadow: 0 0 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    min-width: 300px;
    max-width: 100%;
    margin-bottom: 25px;
  }
  
  .demo-viewer-body {
    padding: 30px;
    overflow: auto;
    border-bottom: 1px solid #5f6368;
  }
  
  .demo-viewer-title {
    font-weight: 600;
    font-size: 14px;
    padding: 10px 0 0 10px;
  }
  
  .demo-viewer-description {
    padding: 0 10px 15px;
    font-size: 14px;
    line-height: 2;
  }
  
  .title-spacer {
    flex: 1 1 auto;
  }
  
  .demo-viewer-toolbar {
    padding: 8px 20px;
    transition: all ease-in-out 400ms;
    background: var(--ngx-theme-bg-dvt);
    display: flex;
    align-items: center;
  }
  
  .toolbar-action {
    user-select: none;
    width: 2.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .toolbar-action img {
    width: 1.5rem;
    filter: invert(95%) sepia(8%) saturate(67%) hue-rotate(177deg) brightness(97%) contrast(96%);
  }
  
  .small-image {
    width: 15px !important;
  }
  
  .toolbar-action:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
  }