.container {
  overflow: scroll;
  height: calc(100vh - 4rem);
}

.logo-ngx {
  width: 8rem;
}

.logo-angular {
  width: 10rem;
}

.pic-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin-top: 2rem;
}

.pic-plus span {
  font-size: 30px;
  margin-left: 20px;
}

pre,
code {
  font-size: 0.875rem !important;
  line-height: 1.5715 !important;
}

p {
  margin-bottom: 0.5em;
}

h1 {
  margin-top: 1.25rem;
  margin-bottom: 0.5em;
  font-weight: 500;
}

article {
  padding: 1.875rem 3.125rem;
}
